<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--这里加载testProperties.properties使用重写后的PropertyUtil-->
	<bean id="configure"
		  class="com.houyao.propertiesTest.PropertyUtil">
		<property name="locations">
			<list>
				<value>classpath:properties/testProperties.properties</value>
			</list>
		</property>
	</bean>

</beans>