<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--MethodInvokingJobDetailFactoryBean，有两个关键属性：targetObject指定任务类.targetMethod指定运行的方法.-->

	<bean name="quartzTestJob3" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.houyao.quartz.QuartzTestJob3"/>
		</property>
		<property name="targetMethod" value="executeJob"/>
		<!--作业不并发调度-->
		<property name="concurrent" value="false"/>
	</bean>

	<!--Cron表达式触发器-->
	<bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzTestJob3"/>
		<property name="cronExpression" value="0/5 * * * * ?"/>
	</bean>

	<!--配置调度工厂-->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!--<ref bean="simpleTrigger"/>-->
				<ref bean="cronTrigger1"/>
			</list>
		</property>
	</bean>
</beans>